@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
}

p,
span {
  font-family: "Roboto";
}

:root {
  --primary-color: #233040;
  --secondary-color: #42526e;
  --text-color: #fefefe;
  --btn-color: #6b7b8c;
  --btn-color-2: #aab8c2;
  --btn-color-3: #d9e4e9;
}
